/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    width: 100%;
    height: 1fr;
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/*
.hebergements-cards .card-content {
    width: 33%;
    padding-left: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}*/

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/** CSS du header **/
header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header img {
    width : 61px;
    height : 19px;
    margin: 1em;
}

.flexboxheader {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 68px;
}

.flexboxheader p {
    position: relative;
    bottom: 24px;
    padding-top: 10px;
    /*Sans ça les boutons bougaient au survol*/
    border-top: 2px solid transparent; 
}


/* bordure quand mouseover */
.flexboxheader p:hover {
    border-color:#0065FC;
    color: #0065FC;
}

.formulaire{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 0px;
}
.Titreduformulaire {
    margin-top: 40px;
    gap: 8px;
}

.Titreduformulaire p {
    position: relative;
    bottom: 15px;
}


.Rechercheville {
    display: flex;
    flex-direction: row;

    height: 49px; 
    border-radius: 25px;
}

.Rechercheville input {
    font-size: 18px;
}

.Filtres {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.boutonfiltre {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.bouton {
    border: #d9d9d9 solid 2px;
    border-radius: 25px;
    height: 50px;
    width: 173px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 4px 19px;
    font-weight: 700;
}

.bouton i{
    position: relative;
    top: 17px;
}

.bouton:hover {
    background-color: #deebff;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 1em;
}

.information p {
    position: relative;
    top: 8px;
}

.fa-location-dot {
    position: relative;
    left: 18px;
    top: 15px;
    width: 100%;
    height: 18px;
}

.fondi {
    width: 50px;
    height: 49px;
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.champdesaisi {
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border: #F2F2F2 1px solid;
    width: 195px;

}

.boutonrecherche {
    background: #0065FC;
    border: 1px #0065FC solid;
    border-radius: 0px 15px 15px 0px;
    color: white;
    font-weight: 700;
    gap: 10px;
    padding: 15px 16px;
    max-width: 132px;
    max-height: 49px;
}

.boutonrecherche:hover {
    color: #0065FC;
    background-color: white;
}
.loupe {
    display: none;
}
/*.information {
    display: flex;
    flex-direction: row;
    justify-content: left;
}*/

.fa-info {
    position: relative;
    height: 5px;
    width: 100%;
    top: 2px;
    left: 9px;
    color: #0065FC;
}
.cercle {
    width: 24px;
    height:24px;
    border:1px solid #d9d9d9; 
    border-radius:50%;
    position: relative;
    top: 20px;
  }

/*footer*/
footer {
    /*position: absolute;
    bottom: 0;*/
    display: flex;
    flex-direction: row;
    background: #F2F2F2;
    max-width: 1340px;
    margin-top: 20px;
    /*Le footer reste en bas de la page*/
}



footer ul {
    /*taille de chacun des blocs*/
    width: 100%;
    height: 163px;
    gap: 15px;
    /*Position de chacun des blocs dans le footer*/
    position: relative;
    bottom: 15px;
    right: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .Filtres {
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .populaires-cards .card {
        flex-direction: column;
    }



}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    
    body{
        margin: 0px;
        padding: 0px;
    }

    .formulaire {
        padding: 0px 20px;
    }
    section .populaires {
        background-color: red;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
        background-color: transparent;
    }

    .main-container {
        width: 100%;
        max-width: 767.98px;
        padding: 0px;
        box-sizing: border-box;
    }
    header {
        width: 100%;
        height: 115px;
        flex-direction: column;
        justify-content: center;
       /*  border-bottom: #F2F2F2 2px solid; */
    }


    .flexboxheader{
        width: 100%;
        height: 19px;
        gap: 15px;
        border-bottom: #F2F2F2 solid 2px;
    }

    .flexboxheader p {
        width: 50%;
        margin: 0;
        position: relative;
        text-align: center;
        bottom: 24px;
        padding-bottom: 31px;
        /*Sans ça les boutons bougaient au survol*/
        border-top: 2px solid transparent; 
    }
    .flexboxheader p:hover {
        border-top: 2px solid transparent;
        border-bottom: #0065FC solid 2px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    header img{
        padding: 50px;
        margin: auto;
        }

    .champdesaisi{
        width: 335px;
    }
    .boutonrecherche {
        display: none;
    }
    .fondloupe {
        position: relative;
        right: 25px;
        width: 50px;
        height: 49px;
        background: #F2F2F2;
        border-radius: 15px 15px 15px 15px;
        background: #0065FC;
        box-shadow: 0px 4px 4px 0px #00000040;

    }
    .fa-magnifying-glass {
        position: relative;
        top: 15px;
        left: 15px;
    }
    .boutonfiltre {
        min-width: 450px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    footer{
        flex-direction: column;
        width: 100%;
        max-width: 767.98px;
    }

    /* ... */
}